
.logo{
    position:absolute;
    margin-left: 85px;
    margin-top: 40px;
}

/*
img#fotolog{
    position: absolute;
    height: 40px;
    width: 40px;
    margin-top: 148px;
    margin-left: 70px;
}
*/
.text{
    font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 25px;
  margin-left: 90px;
  position: relative;
  
  
}
.email{
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    font-style: normal;
    font-size: 18px;
    margin-left: 85px;
    margin-top: 30px;
}
input#emailUser{
    margin-left: 100px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin-left: 85px;
    border-radius: 5px;
    border-style:inset;
    height: 50px;
    width: 500px;
    background-color: rgb(230, 230, 238);
    border: none;
    padding-left: 10px;
    

    
}
input#emailUser:hover{
    background-color: rgb(237, 237, 247);
}
.senha{
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    font-style: normal;
    font-size: 18px;
    margin-left: 85px;
    margin-top: 30px;

}
input#senhaUser{
    margin-left: 100px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin-left: 85px;
    border-radius: 5px;
    height: 50px;
    width: 500px;
    background-color: rgb(230, 230, 238);
    border: none;
    padding-left: 10px;
}

input#senhaUser:hover{
    background-color: rgb(237, 237, 247);
    
}
.see{
    font-family: "Roboto", sans-serif;
    font-weight: 410;
    font-style: normal;
    font-size: 18px;
    margin-top: 30px;

}
.entergoogle{
    font-family: "Roboto", sans-serif;
    font: weight 400px;
    font-style: normal;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 85px;
    
}
input#formato_buttom{
    border-radius: 200px;
    background-color: rgb(221, 221, 221);
    height: 45px;
    width: 260px;
    border:none;
}
input#formato_buttom:hover{
    background-color: rgb(227, 227, 227);
}
img#logogoogle{
    height: 25px;
    width: 25px;
    margin-top: 23px;
    margin-left: 310px;
    position: absolute;
    justify-content: left;
    
}
.botaologin{
   margin-top: 35px; 
}
button#conflogin{
    background-image: linear-gradient( 45deg,rgb(42, 48, 72) 40%,rgb(8, 8, 34));
height: 60px;
width: 200px;
border-radius: 100px;
color: white;
font-family: "Roboto", sans-serif;
font-weight: 500;
border: none;


}
button#conflogin:hover{
    background-image: linear-gradient( 45deg,rgb(42, 48, 72) 1%,rgb(8, 8, 34));
    transition: 10s ;
}


#loginForm {
    
  margin-left: 90px;
  margin-top: 20px;
  label {
    
    margin-bottom: 10px;
  }
  
}

#forgotPassword{
    
  text-align: center;
  color: #004289; 
  font-family: "Roboto", sans-serif;
  font-weight: 450;
  font-style: normal;
  font-size: 16px;
  position: absolute;
  top: 85%;
  
}
#forgotPassword:hover {
    color: #0059b8; 
  }
.pagesquerda{
    
    position: absolute;
    background-image: linear-gradient( rgb(42, 48, 72) 1%,rgb(8, 8, 34)); 
    justify-content: left;
    height: 100%;
    width: 7vh; 
}
.pagdireita{
    position:absolute;
    background-image: linear-gradient( rgb(42, 48, 72) 1%,rgb(8, 8, 34));
    height: 100vh;
    width: 13vh;
    margin-left:1527px;

}
img#img2{
    position: absolute;
    width: 107vh;
    height: 73vh;
    justify-content: right;
    margin-left: 630px;
    margin-top: 100px;
}
#CriarumaConta{
    color: #004289; 
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    font-style: normal;
    font-size: 16px;
    margin-left: 200px;
    position: absolute;
    top: 90.2%;
}
#CriarumaConta:hover{
    color: #0059b8;
}
.fonts{
    font-family: "Roboto", sans-serif;
    font-weight: 410;
    position: absolute;
    margin-top: 85px;
}
p#mensagemErro{
    position: absolute;
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
    font-size: 15px;

}
