
.logo{
    position:absolute;
    margin-left: 85px;
    margin-top: 40px;
}
    
   

.text{
    font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 23px;
  margin-left: 90px;
  position: relative;
  
}
.email{
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    font-style: normal;
    font-size: 18px;
    margin-left: 85px;
    margin-top: 30px;
}
input#esp_email{
    margin-left: 100px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin-left: 85px;
    border-radius: 10px;
    border-style:inset;
    height: 50px;
    width: 500px;
    background-color: rgb(230, 230, 238);
    

    
}
input#esp_email:hover{
    background-color: rgb(237, 237, 247);
}
.senha{
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    font-style: normal;
    font-size: 18px;
    margin-left: 85px;
    margin-top: 30px;

}
input#esp_senha{
    margin-left: 100px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin-left: 85px;
    border-radius: 10px;
    border-style:inset;
    height: 50px;
    width: 500px;
    background-color: rgb(230, 230, 238);
}

input#esp_senha:hover{
    background-color: rgb(237, 237, 247);
}
.see{
    font-family: "Roboto", sans-serif;
    font-weight: 430;
    font-style: normal;
    font-size: 18px;
    margin-top: 30px;

}
.entergoogle{
    font-family: "Roboto", sans-serif;
    font: weight 350px;
    font-style: normal;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 85px;
   

}
input#formato_buttom{
    border-radius: 200px;
    background-color: rgb(241, 241, 241);
    height: 45px;
    width: 300px;
   
    
    
}
input#formato_buttom:hover{
    background-color: rgb(227, 227, 227);
}
img#logogoogle{
    height: 30px;
    width: 30px;
    margin-left: 8px;
    
}
.botaologin{
   margin-top: 50px; 

}
input#conflogin{
background-color: rgb(19, 16, 65);
height: 60px;
width: 460px;
border-radius: 100px;
color: white;
font-family: "Roboto", sans-serif;
font-weight: 500;

}
input#conflogin:hover{
    background-color: rgb(11, 11, 44);
}


#loginForm {
    
  margin-left: 90px;
  margin-top: 20px;
  label {
    
    margin-bottom: 10px;
  }
  
}

#forgotPassword{
    margin-left: px;
  
  text-align: center;
  
  color: #004289; 
  font-family: "Roboto", sans-serif;
  font-weight: 450;
  font-style: normal;
  font-size: 16px;
  
  margin-top: 10px;
}
#forgotPassword:hover {
    color: #0059b8; 
  }
.pagesquerda{
    
    position: absolute;
    background-color: rgb(19, 16, 65);
    justify-content: left;
    height: 100%;
    width: 5vh; 
}
.pagdireita{
    position:absolute;
    background-color: rgb(19, 16, 65);

height: 100vh;
width: 7vh;
margin-left:1577px;



    

}


img#img2{
    position: absolute;
    width: 120vh;
    height: 80vh;
    justify-content: right;
    margin-left: 585px;
    margin-top: 100px;
}
#CriarumaConta{
    color: #004289; 
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    font-style: normal;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 40px;
}
#CriarumaConta:hover{
    color: #0059b8;
}
.fonts{
    font-family: "Roboto", sans-serif;
    font-weight: 420;
}