.menucima{
    background-image: linear-gradient( 45deg,rgb(42, 48, 80) 1%,rgb(4, 12, 42));
    height: 9vh;
}
img#bandeirabrasil{
    width: 2.6vh;
    height: 0.9vw;
    position: absolute;
    left: 153vh;
    top:3.5vh;
    border-radius: 3px;
    
}
/*img#bandeirabrasil:hover{
    width: 24px;
    height: 18px;
    position: absolute;
    margin-left: 549px;
    margin-top:24px ;
    border-radius: 1000px;
    transition: 0.4s;
}*/
img#logoconforme{
    height: 2.4vw;
    width: 16vh;
    position: absolute;
    left: 8%;
    top: 2.5%;
}
input#barrabuscar{
    margin-left: 330px;
    margin-top: 23px;
    border: 0;
    outline: 0;
    background: none;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: rgb(0, 0, 0);
    /*background-color: white;*/
    border-radius: 5px;
    height: 28px;
    width: 300px;
    transition: 0.1s;
    
    

    
}

input#barrabuscar:hover{
    background-color: white;
    transition: 0.1s;
    cursor: pointer;
    padding-left: 10px;
    
}
input#barrabuscar:focus{
    background-color: white;
    transition: 0.1s;
    cursor: pointer;
    padding-left: 10px;
    
}
main{
    background-color: rgb(245, 245, 249);
    height: 91vh;
    width:100vw;
}
.bloco0{
    background-color: rgb(255, 255, 255);
    height: 6vh;
    width: 100vw;
    position: absolute;

}
.textdashboard{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    position: absolute;
    margin-top: 80px;
    margin-left: 70px;
    color: rgb(102, 102, 102);
}
.bloco1{
    position: absolute;
    background-color: white;
    height: 25vh;
    width: 33vw;
    margin-left: 70px;
    margin-top: 120px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 520;
    font-style: normal;
    font-size: 13.7px;
    padding-left: 15px;
    padding-top: 15px;
    color: rgb(88, 88, 88);
}
.textd{
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    margin-left: 165px;
    color: rgb(102, 102, 102);
    margin-top: 14px;

}
.textdoações{
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    margin-left: 317px;
    color: rgb(102, 102, 102);
    margin-top: 14px;

}
.textapp{
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    margin-left: 450px;
    color: rgb(102, 102, 102);
    margin-top: 14px;
}
img#flecha1{
    height: 20px;
    width: 14px;
    position: absolute;
    margin-left: 78px;
}
img#flecha2{
    height: 20px;
    width: 14px;
    position: absolute;
    margin-left: 65px;
}
img#flecha3{
    height: 20px;
    width: 14px;
    position: absolute;
    margin-left: 80px;
}
.bloco2{
    position: absolute;
    background-color: white;
    height: 25vh;
    width: 33vw;
    margin-left: 70px;
    margin-top: 350px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 520;
    font-style: normal;
    font-size: 13.7px;
    padding-left: 15px;
    padding-top: 15px;
    color: rgb(88, 88, 88);
}
.bloco3{
    position: absolute;
    background-color: white;
    height: 50vh;
    width: 57.8vw;
    margin-left: 650px;
    margin-top: 240px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 520;
    font-style: normal;
    font-size: 13.7px;
    padding-left: 15px;
    padding-top: 15px;
    color: rgb(88, 88, 88);
}
.bloco4{
    position: absolute;
    background-color: white;
    height: 11vh;
    width: 18vw;
    margin-left: 650px;
    margin-top: 120px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 520;
    font-style: normal;
    font-size: 12px;
    padding-left: 15px;
    padding-top: 15px;
    color: rgb(102, 102, 102);
}
.bloco5{
    position: absolute;
    background-color: white;
    height: 11vh;
    width: 18vw;
    margin-left: 975px;
    margin-top: 120px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 520;
    font-style: normal;
    font-size: 12px;
    padding-left: 15px;
    padding-top: 15px;
    color: rgb(102, 102, 102);
}
.bloco6{
    position: absolute;
    background-color: white;
    height: 11vh;
    width: 18vw;
    margin-left: 1300px;
    margin-top: 120px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 520;
    font-style: normal;
    font-size: 12px;
    padding-left: 15px;
    padding-top: 15px;
    color: rgb(102, 102, 102);
}
.pd{
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    font-style: normal;
    font-size: 13px;
    padding-left: 15px;
    padding-top: 15px;
    color: rgb(102, 102, 102);
    position: absolute; 
    margin-top: 67px;
    margin-left: 89.4vw;
}
img#login{
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 100px;
    margin-left: 700px;
    margin-top: 20px;
}
