body{
    background-image: linear-gradient(45deg, rgb(42, 48, 72) 1%,rgb(8, 8, 34));

}
.container{
    position: absolute;
    background-color: rgba(0, 0, 0,0.5);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    font-family: "Roboto", sans-serif;
    height: 200px;
    width: 270px;
  
   

}
.text1{
    font-size: 13px;
    margin-top: 40px;
    margin-left: 10px;
}
.esqueceu{
    position: absolute;
    top: 13%;
    left: 21%;
}
label#emailtext{
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
}
input#email{
    border-radius: 5px;
    border: none;
    width: 250px;
    height: 35px;
    padding-left: 10px;
    margin-top: 40px;
    margin-left: 10px;
    font-size: 15px;

}
button#botaoenviar{
    position: absolute;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient( 45deg,rgba(19, 46, 145, 0.777) 1%,rgba(9, 151, 173, 0.569));
    width: 200px;
    height: 40px;
    margin-top: 35px;
    font-size: 17px;
    color: black;
    font-weight: 800;
    left: 27%;
    
    
}
